a {
    text-decoration: none;
}

/* ------------ Loader ------------- */
.loader-wrapper {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 5;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
}

.dot {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 6;
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
    border-radius: 5px;
    background-color: #c3c3c3;
    transform-style: preserve-3d;
    animation: dot1 3s cubic-bezier(.55,.3,.24,.99) infinite;
}

.dot:nth-child(2) {
    z-index: 7;
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
    border-radius: 3px;
    background-color: white;
    animation-name: dot2;
}

.dot:nth-child(3) {
    z-index: 8;
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
    border-radius: 0 0 5px 5px;
    background-color: black;
    animation-name: dot3;
}

@keyframes dot1 {
    3%, 97% {
        width: 160px;
        height: 100px;
        margin-top: -50px;
        margin-left: -80px;
    }
    30%, 36% {
        width: 80px;
        height: 120px;
        margin-top: -60px;
        margin-left: -40px;
    }
    63%, 69% {
        width: 40px;
        height: 80px;
        margin-top: -40px;
        margin-left: -20px;
    }
}

@keyframes dot2 {
    3%, 97% {
        width: 150px;
        height: 90px;
        margin-top: -45px;
        margin-left: -75px;
    }
    30%, 36% {
        width: 70px;
        height: 96px;
        margin-top: -48px;
        margin-left: -35px;
    }
    63%, 69% {
        width: 32px;
        height: 60px;
        margin-top: -30px;
        margin-left: -16px;
    }
}

@keyframes dot3 {
    3%, 97% {
        width: 40px;
        height: 20px;
        margin-top: 50px;
        margin-left: -20px;
    }
    30%, 36% {
        width: 8px;
        height: 8px;
        margin-top: 49px;
        margin-left: -5px;
        border-radius: 8px;
    }
    63%, 69% {
        width: 16px;
        height: 4px;
        margin-top: -37px;
        margin-left: -8px;
        border-radius: 10px;
    }
}
/* ------------ End Loader ------------- */

/* ------------ Menu ------------- */
#toggle {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 28px;
    height: 30px;
    top: 60px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

#toggle span:after{
    top: 9px;
}

#toggle span {
    position: relative;
    display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #c3c3c3;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

/* on activation */
#toggle.on span {
    background-color: transparent;
}

#toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on + #menu {
    opacity: 1;
    visibility: visible;
}

#menu {
    position: absolute;
    top: 85px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 200px;
    padding: 10px;
    margin: auto;
    font-family: 'Optima', sans-serif;
    text-align: center;
    border-radius: 4px;
    background: black;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
}

#menu:after {
    position: absolute;
    top: -15px;
    left: 95px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid black;
}

#menu ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

#menu li a {
    padding: 5px;
    color: white;
    transition: all .2s;
}

#menu li a:hover,
#menu li a:focus {
    background: white;
    color: black;
}
/* ------------ End Menu ------------- */

/* ------------ Contact Form ------------- */
section#hire {
    background: #c3c3c3;
    margin: 90px auto 40px;
    border-top: 15px solid black;
    text-align: center;
    font-size: 62.5%;
    font-family: 'Optima', sans-serif;
    font-weight: 300;
    color: white;
    padding: 50px 0 110px;
    width: 80%;
    max-width: 1100px;
}

section#hire h1 {
    margin-bottom: 40px;
    font-size: 4em;
    font-family: 'Optima', sans-serif;
    font-weight: 100;
}

form#email-form {
    width: 58.33333%;
    margin: 0 auto;
}

form#email-form .field {
    width: 100%;
    position: relative;
    margin-bottom: 15px;
}

form#email-form .field label {
    text-transform: uppercase;
    position: absolute;
    top: 0;
    left: 0;
    background: black;
    width: 100%;
    padding: 18px 0;
    font-size: 1.45em;
    letter-spacing: 0.075em;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}

form#email-form .field.msg-box label {
    height: 18px;
}

form#email-form .field label + span {
    opacity: 0;
    color: white;
    display: block;
    position: absolute;
    top: 12px;
    left: 5%;
    font-size: 2.5em;
    text-shadow: 1px 2px 0 #cd6302;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}

form#email-form .field input[type=text],
form#email-form .field textarea {
    border: none;
    background: white;
    width: 80.5%;
    margin: 0;
    padding: 18px 0;
    padding-left: 19.5%;
    color: black;
    font-size: 1.4em;
    letter-spacing: 0.05em;
}

form#email-form .field input[type=text]#msg,
form#email-form .field textarea#msg {
    height: 18px;
    resize: none;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}

form#email-form .field input[type=text]:focus, form#email-form .field input[type=text].focused,
form#email-form .field textarea:focus,
form#email-form .field textarea.focused {
    outline: none;
}

form#email-form .field input[type=text]:focus#msg, form#email-form .field input[type=text].focused#msg,
form#email-form .field textarea:focus#msg,
form#email-form .field textarea.focused#msg {
    padding-bottom: 150px;
}

form#email-form .field input[type=text]:focus + label, form#email-form .field input[type=text].focused + label,
form#email-form .field textarea:focus + label,
form#email-form .field textarea.focused + label {
    width: 18%;
    background: #FD9638;
    color: white;
}

form#email-form .field input[type=text].focused + label,
form#email-form .field textarea.focused + label {
    color: #FD9638;
}

form#email-form .field:hover label {
    width: 18%;
    background: #313A3D;
    color: white;
}

form#email-form input[type=submit] {
    background: white;
    color: black;
    -webkit-appearance: none;
    border: none;
    position: relative;
    padding: 13px 50px;
    font-size: 1.4em;
    letter-spacing: 0.1em;
    font-weight: 300;
    -webkit-transition: all 333ms ease-in-out;
    -moz-transition: all 333ms ease-in-out;
    -o-transition: all 333ms ease-in-out;
    -ms-transition: all 333ms ease-in-out;
    transition: all 333ms ease-in-out;
}

form#email-form input[type=submit]:hover {
    background: black;
    color: white;
    cursor: pointer;
}

form#email-form input[type=submit]:focus {
    outline: none;
    background: #FD9638;
}

@media screen and (max-width: 600px) {
    form#email-form .field input[type=text]:focus + label, form#email-form .field input[type=text].focused + label,
    form#email-form .field textarea:focus + label,
    form#email-form .field textarea.focused + label,
    form#email-form .field:hover label,
    form#email-form .field input[type=text],
    form#email-form .field textarea {
        font-size: 1em;
    }

    form#email-form .field label + span {
        font-size: 2em;
    }
}
/* ------------ End Contact Form ------------- */

/* ------------ Messenger ------------- */
.messenger-container {
    width: 200px;
    text-align: center;
    margin: auto;
}

.messenger-container h3 {
    font-size: 15px;
    font-family: 'Optima', sans-serif;
}
/* ------------ End Messenger ------------- */

/* ------------ Envelope ------------- */
.envelope-container * { -webkit-backface-visibility: hidden; }

.envelope-container { 
    position: relative;
    margin: 20px auto;
    height: 150px;
    width: 165px;
    font-family: 'Optima', sans-serif;
}

.envelope-container .envelope {
    position: absolute;
    height: 93px;
    width: 165px;
    left: 50%;
    margin-left: -83px;
    top: 50%;
    margin-top: -50px;
        
    transition: margin-top 300ms;
    -ms-transition: margin-top 300ms;
    -moz-transition: margin-top 300ms;
    -o-transition: margin-top 300ms;
    -webkit-transition: margin-top 300ms;
}

.envelope-container:hover .envelope, .envelope-container.hover .envelope {
    transition-delay: 150ms;
    -ms-transition-delay: 150ms;
    -moz-transition-delay: 150ms;
    -o-transition-delay: 150ms;
    margin-top: -20px;
}

.envelope-container .envelope .top {
    position: absolute;
    top: -3px;
    left: 0px;
    width: 100%;
    height: 73px;
    z-index: 3;
    overflow: hidden;
                        
    transform-origin: top;
    -ms-transform-origin: top;
    -moz-transform-origin: top;
    -o-transform-origin: top;
    -webkit-transform-origin: top;
                    
    transition: transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
    -ms-transition: -ms-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
    -moz-transition: -moz-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
    -o-transition: -o-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
    -webkit-transition: -webkit-transform 300ms 150ms, z-index 0ms 150ms, height 300ms 0ms, top 300ms 0ms;
}

.envelope-container:hover .envelope .top, .envelope-container.hover .envelope .top {
    transition: transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
    -ms-transition: -ms-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
    -moz-transition: -moz-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
    -o-transition: -o-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
    -webkit-transition: -webkit-transform 300ms 0ms, height 300ms 150ms, top 300ms 150ms;
        
    height: 10px;
    top: -60px;
  
    transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    -o-transform: rotateX(180deg);
    -webkit-transform: rotateX(180deg);
}

.envelope-container .envelope .outer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    border-left: 83px solid transparent;
    border-right: 82px solid transparent;
    border-top: 70px solid #EEE;
}

.envelope-container .envelope .outer .inner {
    position: absolute;
    left: -81px;
    top: -73px;
    border-left: 81px solid transparent;
    border-right: 80px solid transparent;
    border-top: 68px solid black;
}

.envelope-container .envelope .bottom {
    position: absolute;
    z-index: 2;
    bottom: 0px;
    left: 2px;
    border-left: 81px solid transparent;
    border-right: 80px solid transparent;
    border-bottom: 45px solid black;
}

.envelope-container .envelope .left {
    position: absolute;
    z-index: 2; top: 0px;
    left: 0px;
    border-left: 81px solid black;
    border-top: 45px solid transparent;
    border-bottom: 45px solid transparent;
}

.envelope-container .envelope .right {
    position: absolute;
    z-index: 2;
    top: 0px;
    right: 0px;
    border-right: 80px solid black;
    border-top: 45px solid transparent;
    border-bottom: 45px solid transparent;
}

.envelope-container .envelope .cover {
    position: absolute;
    z-index: 1;
    bottom: 0px;
    left: 0px;
    height: 55%;
    width: 100%;
}

.envelope-container .envelope .paper {
    position: absolute;
    height: 83px;
    padding-top: 10px;
    width: 100%;
    top: 0px;
    left: 0px;
    background: white;
    transition: margin-top 300ms 0ms;
    -ms-transition: margin-top 300ms 0ms;
    -moz-transition: margin-top 300ms 0ms;
    -o-transition: margin-top 300ms 0ms;
    -webkit-transition: margin-top 300ms 0ms;
}

.envelope-container:hover .envelope .paper, .envelope-container.hover .envelope .paper {
    margin-top: -60px;
    transition: margin-top 300ms 150ms;
    -ms-transition: margin-top 300ms 150ms;
    -moz-transition: margin-top 300ms 150ms;
    -o-transition: margin-top 300ms 150ms;
    -webkit-transition: margin-top 300ms 150ms;
}

.envelope-container .envelope .paper a {
    position: relative;
    display: block;
    font-size: 14px;
    margin: 5px;
    margin-bottom: 0px;
    text-align: center;
    color: #333;
    text-decoration: none;

    transition: color 200ms;
    -ms-transition: color 200ms;
    -moz-transition: color 200ms;
    -o-transition: color 200ms;
    -webkit-transition: color 200ms;
}

.envelope-container .envelope .paper a:hover {
    color: #c3c3c3;
    cursor: pointer;
}

.envelope-container .envelope .paper a.resume .i {
    position: absolute;
    top: 0px;
    left: 17px;
    display: inline-block;
    font-size: 13px;
    font-weight: bold;
}
/* ------------ End Envelope ------------- */

/* ------------ SMS Popup ------------- */
#phone-popup {
    position: fixed;
    max-width: 350px;
    height: 225px;
    background: white;
    border: 7px solid black;
    bottom: 0;
    margin-left: -5px;
    z-index: 4;
    font-family: 'Optima', sans-serif;
    -webkit-transition: all 1.5s ease;
    -moz-transition: all 1.5s ease;
    -o-transition: all 1.5s ease;
    transition: all 1.5s ease;
}

#new span {
    background: black;
    position: absolute;
    color: white;
    padding: 4px 10px;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1px;
    margin-top: -5px;
}

#phone-popup .close {
    color: black;
    right: 8px;
    top: 0px;
    position: absolute;
    font-size: 20px;
    cursor: pointer;
}

#phone-popup h2 {
    font-size: 17px;
    color: black;
    line-height: 24px;
    font-weight: 400;
    text-align: center;
    margin-top: 50px;
    padding: 0 20px;
}

#phone-form {
    text-align: center;
}

form#phone-form input.button {
    margin-top: 20px;
    text-align: center;
    -webkit-appearance: none;
    width: 120px;
    font-size: 15px;
    color: white;
    background: #FD9638;
    border: none;
    padding: 8px 0;
}

form#phone-form input[type=submit]:hover {
    background: black;
    cursor: pointer;
}

form#phone-form input[type=text]{
    border: none;
    background: white;
    width: 150px;
    height: 15px;
    font-size: 1em;
    letter-spacing: 0.05em;
}

form#phone-form input[type=text]:focus {
    outline: none;
}

form#phone-form span {
    display: none;
    font-size: 12px;
}

#plus {
    position: fixed;
    color: white;
    bottom: 14%;
    font-size: 15px;
    line-height: 15px;
    margin-left: -425px;
    -webkit-transition: all 1.25s ease;
    -moz-transition: all 1.25s ease;
    -o-transition: all 1.25s ease;
    transition: all 1.25s ease;
    cursor: pointer;
    text-align: left;
    letter-spacing: 1px;
}

#plus span {
    text-align: center;
    position: absolute;
    margin-top: 43px;
    left: 5px;
}

#plus span b {
    font-size: 18px;
}

#plus::after {
    content: "";
    display: block;
    border-top: 55px solid transparent;
    border-bottom: 55px solid transparent;
    border-left: 55px solid black;
}

@media all and (max-width: 900px) {
    #phone-popup {
        margin-left: -425px;
    }
    #plus {
        margin-left: -5px;
    }
}
/* ------------ End SMS Popup ------------- */