* {
    margin: 0;
    padding: 0;
    list-style: none;
    -webkit-font-smoothing: antialiased;
}

body {
    background-color: black;
}

p, h3 {
    font-family: 'Optima', sans-serif;
    font-weight: normal;
    font-size: 1em;
}

/* ------------ Loader ------------- */
.loader-wrapper {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
}

.dot {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 4;
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
    border-radius: 5px;
    background-color: #c3c3c3;
    transform-style: preserve-3d;
    animation: dot1 3s cubic-bezier(.55,.3,.24,.99) infinite;
}

.dot:nth-child(2) {
    z-index: 5;
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
    border-radius: 3px;
    background-color: black;
    animation-name: dot2;
}

.dot:nth-child(3) {
    z-index: 6;
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
    border-radius: 0 0 5px 5px;
    background-color: white;
    animation-name: dot3;
}

@keyframes dot1 {
    3%, 97% {
        width: 160px;
        height: 100px;
        margin-top: -50px;
        margin-left: -80px;
    }
    30%, 36% {
        width: 80px;
        height: 120px;
        margin-top: -60px;
        margin-left: -40px;
    }
    63%, 69% {
        width: 40px;
        height: 80px;
        margin-top: -40px;
        margin-left: -20px;
    }
}

@keyframes dot2 {
    3%, 97% {
        width: 150px;
        height: 90px;
        margin-top: -45px;
        margin-left: -75px;
    }
    30%, 36% {
        width: 70px;
        height: 96px;
        margin-top: -48px;
        margin-left: -35px;
    }
    63%, 69% {
        width: 32px;
        height: 60px;
        margin-top: -30px;
        margin-left: -16px;
    }
}

@keyframes dot3 {
    3%, 97% {
        width: 40px;
        height: 20px;
        margin-top: 50px;
        margin-left: -20px;
    }
    30%, 36% {
        width: 8px;
        height: 8px;
        margin-top: 49px;
        margin-left: -5px;
        border-radius: 8px;
    }
    63%, 69% {
        width: 16px;
        height: 4px;
        margin-top: -37px;
        margin-left: -8px;
        border-radius: 10px;
    }
}
/* ------------ End Loader ------------- */


/* ------------ Menu ------------- */
#toggle {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 28px;
    height: 30px;
    top: 60px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

#toggle span:after{
    top: 9px;
}

#toggle span {
    position: relative;
    display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #c3c3c3;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

/* on activation */
#toggle.on span {
    background-color: transparent;
}

#toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on + #menu {
    opacity: 1;
    visibility: visible;
}

#menu {
    position: absolute;
    top: 85px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 200px;
    padding: 10px;
    margin: auto;
    font-family: 'Optima', sans-serif;
    text-align: center;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    opacity: 0;
    z-index: 1;
    visibility: hidden;
    transition: opacity .4s;
}

#menu:after {
    position: absolute;
    top: -15px;
    left: 95px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
}

#menu ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

#menu li a {
    text-decoration: none;
    padding: 5px;
    color: black;
    transition: all .2s;
}

#menu li a:hover,
#menu li a:focus {
    background: black;
    color: white;
}
/* ------------ End Menu ------------- */

/* ------------ Flip ------------- */
.overlay{
    width: 130px;
    height: 130px;
    border-radius: 100%;
    border: 10px solid white;
}

.flip-container:hover .flipper, .flip-container.hover .flipper {
    transform: rotateY(180deg);
}
                 
.flip-container, .front, .back {
    width: 131.5px;
    height: 131.5px;
    margin: -0.3px 0 0 -0.3px;
    border-radius: 100%;
}

.flipper {
    transition: 0.6s;
    transform-style: preserve-3d;
    position: relative;
}

.front, .back {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    transform: rotateX(0deg);
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

.front {
    z-index: 2; 
    background: white;
}

.front img {
    width: 70%;
    opacity: 0.8;
}

.back {
    transform: rotateY(180deg);
    color: white;
}
/* ------------ End Flip ------------- */

/* ------------ History ------------- */
#history {
    display: block;
    position: relative;
    margin: 150px auto 100px;
    text-align: center;
}

#timeline-track {
    display: block;
    position: relative;
    margin: 0 auto;
    width: 6px;
    height: 850px;
    background-color: white;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) inset, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) inset, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25) inset, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
}

#historic-event-1,
#historic-event-2,
#historic-event-3,
#historic-event-4 {
    display: table;
    position: absolute;
    width: 300px;
    cursor: pointer;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    opacity: 0.5;
    filter: "alpha(opacity=50)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";
    -webkit-transition: opacity 600ms ease;
    -moz-transition: opacity 600ms ease;
    -ms-transition: opacity 600ms ease;
    -o-transition: opacity 600ms ease;
}

#historic-event-1:hover,
#historic-event-1.current,
#historic-event-2:hover,
#historic-event-2.current,
#historic-event-3:hover,
#historic-event-3.current,
#historic-event-4:hover,
#historic-event-4.current {
    opacity: 1;
    filter: "alpha(opacity=100)";
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
}

#historic-event-1 {
    top: 50px;
    left: 50%;
    margin-left: -12px;
}

#historic-event-2 {
    top: 250px;
    left: 50%;
    margin-left: -273px;
}

#historic-event-3 {
    top: 450px;
    left: 50%;
    margin-left: -12px;
}

#historic-event-4 {
    top: 650px;
    left: 50%;
    margin-left: -273px;
}

.historic-year {
    display: table-cell;
    vertical-align: middle;
    width: 33%;
    text-align: center;
    color: white;
}

#historic-text-1,
#historic-text-2,
#historic-text-3,
#historic-text-4 {
    display: table-cell;
    vertical-align: middle;
    width: 53%;
    text-align: left;
}

.historic-dot-wrapper {
    display: table-cell;
    vertical-align: middle;
    width: 13%;
    text-align: center;
}

.historic-dot {
    display: block;
    position: relative;
    width: 14px;
    height: 14px;
    margin: 0 auto;
    background-color: #c3c3c3;
    cursor: pointer;
    z-index: 1;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 1px #d1d8de inset, 0 2px 0 white inset, 0 2px 0 #d1d8de, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -moz-box-shadow: 0 0 0 1px #d1d8de inset, 0 2px 0 white inset, 0 2px 0 #d1d8de, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    box-shadow: 0 0 0 1px #d1d8de inset, 0 2px 0 white inset, 0 2px 0 #d1d8de, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
}

#historic-event-1:hover #historic-dot-1,
#historic-event-2:hover #historic-dot-2,
#historic-event-3:hover #historic-dot-3,
#historic-event-4:hover #historic-dot-4 {
    -webkit-transform: scale(1.15) translate3d(0, 0, 0);
    -moz-transform: scale(1.15) translate3d(0, 0, 0);
    -ms-transform: scale(1.15) translate3d(0, 0, 0);
    -o-transform: scale(1.15) translate3d(0, 0, 0);
}

#historic-dot-1,
#historic-dot-2,
#historic-dot-3,
#historic-dot-4 {
    display: block;
    position: relative;
    margin: 0 auto;
    left: -7px;
}

#history-clock {
    display: block;
    position: absolute;
    top: 110px;
    left: 50%;
    margin-left: -17px;
    width: 34px;
    height: 34px;
    background-color: white;
    z-index: 2;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    -webkit-box-shadow: 0 0 0 1px #d1d8de inset, 0 2px 0 white inset, 0 2px 0 #d1d8de, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -moz-box-shadow: 0 0 0 1px #d1d8de inset, 0 2px 0 white inset, 0 2px 0 #d1d8de, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    box-shadow: 0 0 0 1px #d1d8de inset, 0 2px 0 white inset, 0 2px 0 #d1d8de, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -webkit-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: top 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#history-clock.animate1 {
    top: 310px;
}

#history-clock.animate2 {
    top: 510px;
}

#history-clock.animate3 {
    top: 710px;
}

#clockface {
    display: block;
    position: relative;
    top: 4px;
    left: 4px;
    width: 26px;
    height: 27px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background-color: white;
    background-image: -moz-linear-gradient(90deg, #c3c3c3 25%, black 75%);
    background-image: -webkit-gradient(90deg, left top, right bottom, color-stop(25%, #c3c3c3), color-stop(75%, black));
    background-image: -webkit-linear-gradient(90deg, #c3c3c3 25%, black 75%);
    background-image: -o-linear-gradient(90deg, #c3c3c3 25%, black 75%);
    background-image: -ms-linear-gradient(90deg, #c3c3c3 25%, black 75%);
    background-image: linear-gradient(90deg, #c3c3c3 25%, black 75%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c3c3c3', endColorstr='black', GradientType='0' );
    -webkit-box-shadow: 0 0 0 1px #d1d8de, 0 0 20px rgba(0, 0, 0, 0.25) inset, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -moz-box-shadow: 0 0 0 1px #d1d8de, 0 0 20px rgba(0, 0, 0, 0.25) inset, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    box-shadow: 0 0 0 1px #d1d8de, 0 0 20px rgba(0, 0, 0, 0.25) inset, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
}

#clockglare {
    display: block;
    position: absolute;
    top: 2px;
    left: 5px;
    width: 16px;
    height: 8px;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    -o-border-radius: 100%;
    border-radius: 100%;
    background-color: rgba(255, 255, 255, 0);
    background-image: -moz-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
    background-image: -webkit-gradient(90deg, left top, right bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, rgba(255, 255, 255, 0.4)));
    background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
    background-image: -o-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
    background-image: -ms-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
    background-image: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='rgba(255, 255, 255, 0.4)', endColorstr='rgba(255, 255, 255, 0)', GradientType='0' );
}

#clockarm1,
#clockarm2 {
    -webkit-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -ms-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -o-transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#clockarm1 {
    display: block;
    position: absolute;
    top: 4px;
    left: 12px;
    width: 2px;
    height: 10px;
    background-color: white;
    z-index: 1;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.75), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.75), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.75), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -webkit-transform-origin: 50% 10px;
    -moz-transform-origin: 50% 10px;
    -ms-transform-origin: 50% 10px;
    -o-transform-origin: 50% 10px;
}

#clockarm2 {
    display: block;
    position: absolute;
    top: 6px;
    left: 12px;
    width: 2px;
    height: 9px;
    background-color: white;
    z-index: 2;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    -o-border-radius: 1px;
    border-radius: 1px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.75), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.75), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.75), transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0, transparent 0 0 0;
    -webkit-transform: rotate(0.25turn) translate3d(0, 0, 0);
    -moz-transform: rotate(0.25turn) translate3d(0, 0, 0);
    -ms-transform: rotate(0.25turn) translate3d(0, 0, 0);
    -o-transform: rotate(0.25turn) translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 8px;
    -moz-transform-origin: 50% 8px;
    -ms-transform-origin: 50% 8px;
    -o-transform-origin: 50% 8px;
}

#history-clock.animate1 #clockarm1 {
    -webkit-transform: rotate(10.85turn) translate3d(0, 0, 0);
    -moz-transform: rotate(10.85turn) translate3d(0, 0, 0);
    -ms-transform: rotate(10.85turn) translate3d(0, 0, 0);
    -o-transform: rotate(10.85turn) translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 10px;
    -moz-transform-origin: 50% 10px;
    -ms-transform-origin: 50% 10px;
    -o-transform-origin: 50% 10px;
}

#history-clock.animate1 #clockarm2 {
    -webkit-transform: rotate(10.25turn) translate3d(0, 0, 0);
    -moz-transform: rotate(10.25turn) translate3d(0, 0, 0);
    -ms-transform: rotate(10.25turn) translate3d(0, 0, 0);
    -o-transform: rotate(10.25turn) translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 8px;
    -moz-transform-origin: 50% 8px;
    -ms-transform-origin: 50% 8px;
    -o-transform-origin: 50% 8px;
}

#history-clock.animate2 #clockarm1 {
    -webkit-transform: rotate(13.11turn) translate3d(0, 0, 0);
    -moz-transform: rotate(13.11turn) translate3d(0, 0, 0);
    -ms-transform: rotate(13.11turn) translate3d(0, 0, 0);
    -o-transform: rotate(13.11turn) translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 10px;
    -moz-transform-origin: 50% 10px;
    -ms-transform-origin: 50% 10px;
    -o-transform-origin: 50% 10px;
}

#history-clock.animate2 #clockarm2 {
    -webkit-transform: rotate(13.34turn) translate3d(0, 0, 0);
    -moz-transform: rotate(13.34turn) translate3d(0, 0, 0);
    -ms-transform: rotate(13.34turn) translate3d(0, 0, 0);
    -o-transform: rotate(13.34turn) translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 8px;
    -moz-transform-origin: 50% 8px;
    -ms-transform-origin: 50% 8px;
    -o-transform-origin: 50% 8px;
}

#history-clock.animate3 #clockarm1 {
    -webkit-transform: rotate(16.46turn) translate3d(0, 0, 0);
    -moz-transform: rotate(16.46turn) translate3d(0, 0, 0);
    -ms-transform: rotate(16.46turn) translate3d(0, 0, 0);
    -o-transform: rotate(16.46turn) translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 10px;
    -moz-transform-origin: 50% 10px;
    -ms-transform-origin: 50% 10px;
    -o-transform-origin: 50% 10px;
}

#history-clock.animate3 #clockarm2 {
    -webkit-transform: rotate(16.84turn) translate3d(0, 0, 0);
    -moz-transform: rotate(16.84turn) translate3d(0, 0, 0);
    -ms-transform: rotate(16.84turn) translate3d(0, 0, 0);
    -o-transform: rotate(16.84turn) translate3d(0, 0, 0);
    -webkit-transform-origin: 50% 8px;
    -moz-transform-origin: 50% 8px;
    -ms-transform-origin: 50% 8px;
    -o-transform-origin: 50% 8px;
}

@media screen and (max-width: 600px) {
    #timeline-track {
        margin: 0 0 0 30px;
    }

    #history-clock {
        left: 33px;
    }

    #historic-event-1, #historic-event-2, #historic-event-3, #historic-event-4 {
        left: 20px;
        margin-left: 0;
    }
}
/* ------------ End History ------------- */