/* ------------ Loader ------------- */
.loader-wrapper {
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
}

.dot {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 3;
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
    border-radius: 5px;
    background-color: #c3c3c3;
    transform-style: preserve-3d;
    animation: dot1 3s cubic-bezier(.55,.3,.24,.99) infinite;
}

.dot:nth-child(2) {
    z-index: 4;
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
    border-radius: 3px;
    background-color: black;
    animation-name: dot2;
}

.dot:nth-child(3) {
    z-index: 5;
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
    border-radius: 0 0 5px 5px;
    background-color: white;
    animation-name: dot3;
}

@keyframes dot1 {
    3%, 97% {
        width: 160px;
        height: 100px;
        margin-top: -50px;
        margin-left: -80px;
    }
    30%, 36% {
        width: 80px;
        height: 120px;
        margin-top: -60px;
        margin-left: -40px;
    }
    63%, 69% {
        width: 40px;
        height: 80px;
        margin-top: -40px;
        margin-left: -20px;
    }
}

@keyframes dot2 {
    3%, 97% {
        width: 150px;
        height: 90px;
        margin-top: -45px;
        margin-left: -75px;
    }
    30%, 36% {
        width: 70px;
        height: 96px;
        margin-top: -48px;
        margin-left: -35px;
    }
    63%, 69% {
        width: 32px;
        height: 60px;
        margin-top: -30px;
        margin-left: -16px;
    }
}

@keyframes dot3 {
    3%, 97% {
        width: 40px;
        height: 20px;
        margin-top: 50px;
        margin-left: -20px;
    }
    30%, 36% {
        width: 8px;
        height: 8px;
        margin-top: 49px;
        margin-left: -5px;
        border-radius: 8px;
    }
    63%, 69% {
        width: 16px;
        height: 4px;
        margin-top: -37px;
        margin-left: -8px;
        border-radius: 10px;
    }
}
/* ------------ End Loader ------------- */

/* ------------ Menu ------------- */
#toggle {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 28px;
    height: 30px;
    top: 8%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

#toggle span:after{
    top: 9px;
}

#toggle span {
    position: relative;
    display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #c3c3c3;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

/* on activation */
#toggle.on span {
    background-color: transparent;
}

#toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on + #menu {
    opacity: 1;
    visibility: visible;
}

#menu {
    position: absolute;
    top: 12%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    color: #999;
    width: 200px;
    padding: 10px;
    margin: auto;
    font-family: 'Optima', sans-serif;
    text-align: center;
    border-radius: 4px;
    background: white;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
}

#menu:after {
    position: absolute;
    top: -15px;
    left: 95px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid white;
}

#menu ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

#menu li a {
    padding: 5px;
    color: black;
    transition: all .2s;
}

#menu li a:hover,
#menu li a:focus {
    background: black;
    color: white;
}
/* ------------ End Menu ------------- */

/* ------------ Slides ------------- */
body, div {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

#slide-1-centered {
    position: absolute;
    width: 100%;
    left: 0px;
    bottom: 15%;
    text-align: center;
}

#slide-2-centered {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 10%;
    text-align: center;
}

#slide-1-centered a {
    padding: 10px 20px;
    font-family: 'Optima', sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    background-color: #FFFFFF;
    color: #000000;
    -webkit-box-shadow: 0 4px 0 0 #c3c3c3;
    -moz-box-shadow: 0 4px 0 0 #c3c3c3;
    box-shadow: 0 4px 0 0 #c3c3c3;
}

#slide-2-centered a {
    padding: 10px 20px;
    font-family: 'Optima', sans-serif;
    font-weight: normal;
    font-size: 20px;
    text-align: center;
    border-radius: 4px;
    background-color: #000000;
    color: #FFFFFF;
    -webkit-box-shadow: 0 4px 0 0 #a0a5a1;
    -moz-box-shadow: 0 4px 0 0 #a0a5a1;
    box-shadow: 0 4px 0 0 #a0a5a1;
}

.slides-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.slide {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#slide-1 {
    background-color: black;
}

#slide-2 {
    background-image: url("../assets/image/lhm.png");
    background-repeat: no-repeat;
    background-size: auto 70%;
    background-position: center bottom;
    background-color: white;
}
/*------------ End Slides ------------- */

/*------------ Bubbles ------------- */
.left-circle1 {
    top: 30%;
    left: 20%;
    border-radius: 50%;
    width: 17%;
    max-width: 140px;
    position: absolute;
    opacity: 0.0;
    transform-origin: 50% 170%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: ease-in-out, width .35s ease-in-out; /* Safari 3.1 to 6.0 */
    transition: ease-in-out, width .35s ease-in-out;       
}

.right-circle1 {
    top: 30%;
    right: 20%;
    border-radius: 50%;
    width: 17%;
    max-width: 140px;
    position: absolute;
    opacity: 0.0;
    transform-origin: 50% 170%;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    -webkit-transition: ease-in-out, width .35s ease-in-out; /* Safari 3.1 to 6.0 */
    transition: ease-in-out, width .35s ease-in-out;       
}

@keyframes defaultOrigin {
   0% { transform-origin: 50% 160%; }
   15% { transform-origin: 50% 50%; }
}

.default-origin {
    animation: defaultOrigin .5s swing forwards;
}

.circle-border {
    border: 3px solid #000000;
}

.right-circle1:before, .left-circle1:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.right-circle-inner, .left-circle-inner {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
    opacity: 0;
}

.score-text {
    margin: auto;
    margin-top: 70%;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 1em;
    line-height: 1em;
    color: black;
    opacity: 0;
    font-family: 'Optima', sans-serif;
    font-weight: 400;
}

.score-text {
    height: 2vw;
    line-height: 2vw;
    font-size: 1.4vmax;
}

.bubble-icon {
    width: 40%;
    height: 50%;
    display: block;
    margin-left: 30%;
    margin-top: 18%;
}

#bubble-modal {
    display: none;
    position: relative;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
}

.modal-header {
    padding: 2px 16px;
    background-color: black;
    color: white;
}

.modal-body {
    padding: 2px 16px;
}

.modal-footer {
    padding: 2px 16px;
    background-color: black;
    color: white;
}

.modal-content {
    position: relative;
    background-color: white;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 80%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.modal-header {
    font-family: 'Optima', sans-serif;
}

.modal-body {
    font-family: 'Optima', sans-serif;
    font-size: 20px;
}

.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #c1c1c1;
    text-decoration: none;
    cursor: pointer;
}

@media screen and (min-width: 1510px) {
    .score-text {
        font-size: 20px;
    }
}

@-webkit-keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}

@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}
/*------------ End Bubbles ------------- */

/*------------ Footer ------------- */
footer {
    width: 100%;
    position: absolute;
    bottom: 0;
}

footer ul {
    list-style: none;
    background-color: #c3c3c3;
    text-align: center;
    padding: 0;
    margin: 0;
}

footer li {
    display: inline-block;
    font-family: 'Optima', sans-serif;
    font-size: 1em;
    line-height: 20px;
    height: 20px;
}
             
footer a {
    color: #fff;
    display: block;
    transition: .3s background-color;
}
             
footer a:hover {
    background-color: #000000;
}

@media screen and (min-width: 600px) {
    .left-circle1, .right-circle1 {
        top: 15%;
    }

    footer li {
        width: 120px;
        border-bottom: none;
        height: 50px;
        line-height: 50px;
        font-size: 1.4em;
    }
             
    footer li {
        display: inline-block;
        margin-right: -4px;
    }
}
/*------------ End Footer ------------- */