body {
    overflow: hidden;
}

a {
    text-decoration: none;
}

/* ------------ Loader ------------- */
.loader-wrapper {
    background-color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.loader {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 200px;
    height: 200px;
    margin-top: -100px;
    margin-left: -100px;
}

.dot {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 160px;
    height: 100px;
    margin-top: -50px;
    margin-left: -80px;
    border-radius: 5px;
    background-color: #c3c3c3;
    transform-style: preserve-3d;
    animation: dot1 3s cubic-bezier(.55,.3,.24,.99) infinite;
}

.dot:nth-child(2) {
    z-index: 3;
    width: 150px;
    height: 90px;
    margin-top: -45px;
    margin-left: -75px;
    border-radius: 3px;
    background-color: white;
    animation-name: dot2;
}

.dot:nth-child(3) {
    z-index: 4;
    width: 40px;
    height: 20px;
    margin-top: 50px;
    margin-left: -20px;
    border-radius: 0 0 5px 5px;
    background-color: black;
    animation-name: dot3;
}

@keyframes dot1 {
    3%, 97% {
        width: 160px;
        height: 100px;
        margin-top: -50px;
        margin-left: -80px;
    }
    30%, 36% {
        width: 80px;
        height: 120px;
        margin-top: -60px;
        margin-left: -40px;
    }
    63%, 69% {
        width: 40px;
        height: 80px;
        margin-top: -40px;
        margin-left: -20px;
    }
}

@keyframes dot2 {
    3%, 97% {
        width: 150px;
        height: 90px;
        margin-top: -45px;
        margin-left: -75px;
    }
    30%, 36% {
        width: 70px;
        height: 96px;
        margin-top: -48px;
        margin-left: -35px;
    }
    63%, 69% {
        width: 32px;
        height: 60px;
        margin-top: -30px;
        margin-left: -16px;
    }
}

@keyframes dot3 {
    3%, 97% {
        width: 40px;
        height: 20px;
        margin-top: 50px;
        margin-left: -20px;
    }
    30%, 36% {
        width: 8px;
        height: 8px;
        margin-top: 49px;
        margin-left: -5px;
        border-radius: 8px;
    }
    63%, 69% {
        width: 16px;
        height: 4px;
        margin-top: -37px;
        margin-left: -8px;
        border-radius: 10px;
    }
}
/* ------------ End Loader ------------- */

/* ------------ Menu ------------- */
#toggle {
    position: absolute;
    display: block;
    cursor: pointer;
    width: 28px;
    height: 30px;
    top: 30px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#toggle span:after,
#toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

#toggle span:after{
    top: 9px;
}

#toggle span {
    position: relative;
    display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #c3c3c3;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
}

/* on activation */
#toggle.on span {
    background-color: transparent;
}

#toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
}

#toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
}

#toggle.on + #menu {
    opacity: 1;
    visibility: visible;
}

#menu {
    position: absolute;
    top: 55px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 200px;
    padding: 10px;
    margin: auto;
    font-family: 'Optima', sans-serif;
    text-align: center;
    border-radius: 4px;
    background: black;
    box-shadow: 0 1px 8px rgba(0,0,0,0.05);
    opacity: 0;
    visibility: hidden;
    transition: opacity .4s;
}

#menu:after {
    position: absolute;
    top: -15px;
    left: 95px;
    content: "";
    display: block;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    border-bottom: 20px solid black;
}

#menu ul, li, li a {
    list-style: none;
    display: block;
    margin: 0;
    padding: 0;
}

#menu li a {
    padding: 5px;
    color: white;
    transition: all .2s;
}

#menu li a:hover,
#menu li a:focus {
    background: white;
    color: black;
}
/* ------------ End Menu ------------- */

/* ------------ Spinner ------------- */
figure#spinner { 
    transform-style: preserve-3d;
    transform-origin: 50% 50% -500px; 
    transition: 1s;
    margin-bottom: 3rem;
} 

figure#spinner img { 
    width: 50%; 
    max-width: 380px;
    max-height: 380px;
    position: absolute;
    transform-origin: 50% 50% -500px;
    margin: auto;
}

ul#spinner { 
    transform-style: preserve-3d; 
    list-style-type: none;
    transform-origin: 50% 50% -500px; 
    transition: 1s;
    clear:both;
}

ul#spinner li { 
    width: 50%; 
    max-width: 380px;
    max-height: 380px;
    position: absolute;
    transform-origin: 50% 50% -500px;
    text-align: center;
    font-family: 'Optima', sans-serif;
    outline:1px solid transparent; 
}

.link {
    position: relative;
}

.link a {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    width: 10%;
    margin: 0% 3%;
}

.link img {
    width: 100%;
}

figure#spinner img:nth-child(1) { transform: rotateY(0deg); }
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5) { transform: rotateY(-180deg); }
figure#spinner img:nth-child(6) { transform: rotateY(-225deg); }
figure#spinner img:nth-child(7) { transform: rotateY(-270deg); }
figure#spinner img:nth-child(8) { transform: rotateY(-315deg); }

ul#spinner li:nth-child(1) { transform: rotateY(0deg); }
ul#spinner li:nth-child(2) { transform: rotateY(-45deg); }
ul#spinner li:nth-child(3) { transform: rotateY(-90deg); }
ul#spinner li:nth-child(4) { transform: rotateY(-135deg); }
ul#spinner li:nth-child(5) { transform: rotateY(-180deg); }
ul#spinner li:nth-child(6) { transform: rotateY(-225deg); }
ul#spinner li:nth-child(7) { transform: rotateY(-270deg); }
ul#spinner li:nth-child(8) { transform: rotateY(-315deg); }

div#upper ~ span:hover { 
    color: #c3c3c3; 
    cursor: pointer; 
    transform: scale(1.5);
    -moz-transform: scale(1.5);
    -webkit-transform: scale(1.5);
}
/* ------------ End Spinner ------------- */